__pycache__
.vscode
*.snet
*.sc
*.jpg
*.png
*.log
*.pickle
*.xodr

Docker/dev*/PythonAPI
Docker/prod*/PythonAPI
Docker/*/z3-4.8.10-x64-ubuntu-18.04

.coverage
htmlcov
crash-*
slow-unit-*
experiments/predicate-coverage/*/*